<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация о заказе</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">RakhimFood</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <% if (!user) { %>
                        <li class="nav-item"><a class="nav-link" href="/login">Вход</a></li>
                        <li class="nav-item"><a class="nav-link" href="/register">Регистрация</a></li>
                        <% } else { %>
                            <li class="nav-item"><a class="nav-link" href="/profile">Привет, <%= user.username %>!</a></li>
                            <li class="nav-item"><a class="nav-link" href="/logout">Выйти</a></li>
                            <% } %>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container mt-5">
        <h1>Информация о заказе</h1>
        <div>
            <p><strong>Номер заказа:</strong>
                <%= order._id %>
            </p>
            <p><strong>Товары:</strong></p>
            <ul>
                <% order.items.forEach(item=> { %>
                    <li>
                        <%= item._id %> - <%= item.productName %> <br> Количество: <%= item.quantity %>, Цена: <%=
                                        item.price %> тг.
                    </li>
                    <% }); %>
            </ul>
            <p><strong>Адрес доставки:</strong>
                <%= order.address %>
            </p>
            <p><strong>Номер телефона:</strong>
                <%= order.phone %>
            </p>
            <p><strong>Способ оплаты:</strong>
                <%= order.paymentMethod %>
            </p>
            <p><strong>Статус:</strong>
                <%= order.status %>
            </p>
        </div>
        <% if (order.status !=='Отменен' && order.status !=='Завершен' ) { %>
            <form action="/cancel-order" method="POST">
                <input type="hidden" name="orderId" value="<%= order._id %>">
                <button type="submit" class="btn btn-danger">Отменить заказ</button>
            </form>
            <% } %>
    </main>
    <footer class="text-center mt-4">
        <p>&copy; Dias Salakhutdinov SE-2203 </p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>